*{
		font-family: 'futura-pt';
				box-sizing: border-box;
	}
	body, html{
		padding: 0;
		margin: 0;
		background-color: #F8F8F8;
	}
	#header{
		height: 75px;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	#home-page{
		cursor: pointer;
	}
	#header img{
		max-height: 51px;
	}
	.container{
		max-width: 360px;
		width: 100%;
		padding: 18px;
		margin: auto;
	}
	.container-header{
		width: 360px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	justify-content: space-between;
	}
	.button{
		width: 100%;
		text-align: center;
		color: #464646;
		font-size: 22px;
		background-color: white;
		box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
		margin-bottom: 21px;
		border-radius: 5px;
		padding: 15px;
		cursor: pointer;
	}
	#footer{
		background-color: #2E2E2E;
		color: white;
		display: flex;
		justify-content: center;
		cursor: pointer;
	}
	#footer .container{
		display: flex;
		align-content: center;
		justify-content: flex-end;
	}
	input[type=range] {
	  -webkit-appearance: none;
	  width: 100%;
	  margin: 5px 0;
		margin: 15px 0 25px 0;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 4px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	  background: #2e2e2e;
	  border-radius: 0px;
	  border: 0px solid rgba(1, 1, 1, 0);
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	  border: 0px solid rgba(0, 0, 0, 0);
	  height: 15px;
	  width: 15px;
	  border-radius: 31px;
		background: #535bfe; /* Old browsers */
		background: -moz-linear-gradient(top, #535bfe 0%, #3c44e2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #535bfe 0%,#3c44e2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #535bfe 0%,#3c44e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535bfe', endColorstr='#3c44e2',GradientType=0 ); /* IE6-9 */
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -6px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #666666;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 2px;
	  cursor: pointer;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	  background: #2e2e2e;
	  border-radius: 0px;
	  border: 0px solid rgba(1, 1, 1, 0);
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	  border: 0px solid rgba(0, 0, 0, 0);
	  height: 12px;
	  width: 12px;
	  border-radius: 31px;
		background: #535bfe; /* Old browsers */
		background: -moz-linear-gradient(top, #535bfe 0%, #3c44e2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #535bfe 0%,#3c44e2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #535bfe 0%,#3c44e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535bfe', endColorstr='#3c44e2',GradientType=0 ); /* IE6-9 */
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 2px;
	  cursor: pointer;
	  background: transparent;
	  border-color: transparent;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #000000;
	  border: 0px solid rgba(1, 1, 1, 0);
	  border-radius: 0px;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	}
	input[type=range]::-ms-fill-upper {
	  background: #2e2e2e;
	  border: 0px solid rgba(1, 1, 1, 0);
	  border-radius: 0px;
	  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	  border: 0px solid rgba(0, 0, 0, 0);
	  height: 12px;
	  width: 12px;
	  border-radius: 31px;
		background: #535bfe; /* Old browsers */
		background: -moz-linear-gradient(top, #535bfe 0%, #3c44e2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #535bfe 0%,#3c44e2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #535bfe 0%,#3c44e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535bfe', endColorstr='#3c44e2',GradientType=0 ); /* IE6-9 */

	  cursor: pointer;
	  height: 2px;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #2e2e2e;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #666666;
	}